
#title{
  text-align: center;
  color: rgb(21, 120, 186);
  margin: auto;
  font-family: 'Lucida Sans';
  font-size: 3em;

}
.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center; 
  gap: 0;
}


.sudoku-box {
  display: grid;
  grid-template-columns: repeat(3, 4em);
  grid-template-rows: repeat(3, 4em);
  border-right: 0.2em solid black;
  border-bottom: 0.2em solid black;
}

/* Remove right border on every 3rd box */
.sudoku-box:nth-child(3n) {
  border-right: none;
}

/* Remove bottom border on last row of boxes */
.sudoku-box:nth-last-child(-n + 3) {
  border-bottom: none;
}

/* Individual cells */
.sudoku-cell {
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  box-sizing: border-box;
  font-family:'Gill Sans MT'
}

/* Highlight given numbers */
.sudoku-cell.given {
  font-weight: bold;
  background-color: #ccccccf7;
}


.create-board-button{
  font-size: 1.7em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgb(66, 136, 182); 
  color: white;
  font-family: 'Gill Sans MT';
  margin-top: 4em;
  border-width: 0.2em;
  transition: backgound-color 0.5s;
}


.create-board-button:hover{
  background-color: rgb(121, 185, 227);
  border-color: crimson;
  cursor: pointer;
}